body {
  /*background-color: lavender;*/
  /*color: salmon;*/
  padding: 40px;
}

/*fullcalendar.io theme*/
.fc-day-grid-event {
  margin: 1px 3px;
}

.fc-event {
  border-radius: 2px;
  padding: 2px;
}

td.fc-day-number {
  padding-bottom: 5px;
}

.fc-content-skeleton table {
  margin-bottom: 10px;
}

.custom-qtip-styles {
  font-size: 16px;
  line-height: 22px;
  border-radius: 2px;
  margin-left: 2px; /*shift the overlay to allow a click to open the email*/
}