<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/d3/d3-mc.css">
    <script src="/d3/d3.min.js"></script>
    <title>D3 heatmap charts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="chart-container"><svg class="simple-heatmap-chart heatmap-chart"></svg></div>
    <div class="chart-container"><svg class="simple-heatmap-chart-two heatmap-chart"></svg></div>

    <script src="/d3/scripts/heatmap.js"></script>
  </body>
</html>
