/* D3 development styles */

.chart-container {
  margin-bottom: 100px;
}


/* custom D3 styles for MC charts */

/* universal styles */

text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.label {
  fill: #8b8b8b;
}

.label text {
  font-size: 18px;
}


/* bar chart styles */

.bar-chart rect {
  fill: #66C376;
}


/* horizontal bar chart */

.horizontal-bar-chart rect.bar-container {
  fill: #F5F5F5;
  border-radius: 2px;
}

.horizontal-bar-chart rect {
  fill: #66C376;
}

.horizontal-bar-chart text {
  font: 10px sans-serif;
  text-anchor: end;
}

.horizontal-bar-chart .title text {
  text-anchor: start;
  font-size: 16px;
}

.horizontal-bar-chart .data-details text {
  text-anchor: end;
  font-size: 16px;  
}

.horizontal-bar-chart .data-details.right-text text {
  text-anchor: end;
  font-size: 12px; 
  fill: #8b8b8b;
}

.horizontal-bar-chart .data-details.left-text text {
  text-anchor: start;
  font-size: 12px; 
  fill: #8b8b8b;
}

/* line chart */
/* DJ MC IN THE HOUZE */

.line-chart .line {
  fill: none;
  stroke: #7EBC7A;
  stroke-width: 3px;
}

.line-chart text.data-label {
  fill: #8b8b8b; 
}
