/* D3 development styles */

.chart-container {
  margin-bottom: 100px;
}


/* custom D3 styles for MC charts */

.bar-chart rect {
  fill: #66C376;
}

.bar-chart text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.label {
  fill: #8b8b8b;
}

.label text {
  font-size: 18px;
}


/* horizontal bar chart */

.horizontal-bar-chart {
  background-color: #F5F5F5;
  border-radius: 2px;
}

.horizontal-bar-chart rect {
  fill: #66C376;
}

.horizontal-bar-chart text {
  font: 10px sans-serif;
  text-anchor: end;
}
